   @font-face {
      font-family: Roboto-Black;
      src: url(../fonts/Roboto-Black.ttf);
   }

   .font-one{
   font-family: Roboto-Black;
   color:#b02c1d;
   }
   body {
    margin: 0px!important;
    padding: 0px!important;
   }
   .page-wrapper {
    background-color: #ffffff;
   }
   .cwcustom-class {
     color: #EF5A35;
   }
